<%- include ../partials/header.ejs %>
<div class="card"> 
    <div class="card-header">
        Add Book
    </div>
    <div class="card-body">
        <form action="/student/sadd" method="post">
            <div class="form-group">
                <label>FirstName:</label>
                <input type="text" class="form-control" name="FirstName" value="<%= FirstName %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>LastName:</label>
                <input type="text" class="form-control" name="LasttName" value="<%= LasttName %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>ParentName:</label>
                <input type="text" class="form-control" name="ParentName" value="<%= ParentName %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" name="Email" value="<%= Email %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>PhoneNumber:</label>
                <input type="number" class="form-control" name="PhoneNumber" value="<%= PhoneNumber %>" autocomplete="off">
            </div>
            
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Add"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>